apiVersion: v1
kind: Service
metadata:
  name: incident-response
  labels:
    app: incident-response
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: incident-response
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: incident-response
spec:
  to:
    kind: Service
    name: incident-response
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
